<div>
    <p class="underlined">{{ odlagalisteOtpadaDTO.Opis }}</p>
    <p><b>Adresa:</b> {{ odlagalisteOtpadaDTO.Adresa }}</p>
    <p><b>VrstaOtpada:</b> {{ getVrstaOtpadaName(odlagalisteOtpadaDTO.VrstaOtpadaId) }}</p>
    <p><b>Procijenjena količina:</b> {{ odlagalisteOtpadaDTO.ProcijenjenaKolicina }}</p>
    <p><b>Vrijeme uočavanja otpada:</b> {{ odlagalisteOtpadaDTO.VrijemeUocavanjaOtpada | date: 'dd.MM.yyyy'}}</p>

    <app-modal title="Uredi" (urediOdlagaliste)="onUrediClick($event)" [odlagalisteOtpadaDTO]="odlagalisteOtpadaDTO"></app-modal>

    <input type="button" class="btn btn-danger" value="Obriši" (click)="onObrisiClick(odlagalisteOtpadaDTO.Id)" style="margin-left: 5px;">
</div>
