<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }} odlagalište</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">

        <label>Opis:</label>
        <div class="input-group">
          <input class="form-control" name="opis" [(ngModel)]="odlagalisteOtpadaDTO.Opis">
        </div>
        
        <label>Adresa:</label>
        <div class="input-group">
          <input class="form-control" name="adresa" [(ngModel)]="odlagalisteOtpadaDTO.Adresa">
        </div>
        
        <label>Lokacija:</label>
        <div class="input-group">
          <input class="form-control" name="lokacijaDuzina" placeholder="Dužina" [(ngModel)]="odlagalisteOtpadaDTO.LokacijaDuzina">
          &nbsp;&nbsp;&nbsp;
          <input class="form-control" name="lokacijaSirina" placeholder="Širina" [(ngModel)]="odlagalisteOtpadaDTO.LokacijaSirina">
        </div>

        <label>Vrsta otpada:</label>
        <div class="input-group">
          <select class="form-control" name="vrstaOtpada" [(ngModel)]="odlagalisteOtpadaDTO.VrstaOtpadaId">
            <option *ngFor="let item of vrsteOtpadaList" [value]="item.Id">{{item.Naziv}}</option>
          </select>
        </div>

        <label>Procijenjena količina:</label>
        <div class="input-group">
          <input class="form-control" name="procijenjenaKolicina" [(ngModel)]="odlagalisteOtpadaDTO.ProcijenjenaKolicina">
        </div>

        <label for="vrijemeUocavanjaOtpada">Vrijeme uočavanja otpada:</label>
        <div class="input-group">
          <input id="vrijemeUocavanjaOtpada" class="form-control" placeholder="yyyy-mm-dd" name="vrijemeUocavanjaOtpada" 
                 ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="vrijemeUocavanjaOtpada">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"><img src="../../../assets/images/calendar-icon.png" /></button>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-success button-open-modal" (click)="open(content)">{{ title }}</button>