<h2>Odlagališta otpada</h2>

<div class="input-group">
    <input id="vrijemeUocavanjaOtpadaDatumOd" class="form-control" placeholder="Datum od" name="vrijemeUocavanjaOtpadaDatumOd" 
            ngbDatepicker #dpOd="ngbDatepicker" [(ngModel)]="vrijemeUocavanjaOtpadaDatumOd">
    <div class="input-group-append">
    <button class="btn btn-outline-secondary calendar" (click)="dpOd.toggle()" type="button"><img src="../../../assets/images/calendar-icon.png" /></button>
    </div>
</div>

<br>

<div class="input-group">
    <input id="vrijemeUocavanjaOtpadaDatumDo" class="form-control" placeholder="Datum do" name="vrijemeUocavanjaOtpadaDatumDo" 
            ngbDatepicker #dpDo="ngbDatepicker" [(ngModel)]="vrijemeUocavanjaOtpadaDatumDo">
    <div class="input-group-append">
    <button class="btn btn-outline-secondary calendar" (click)="dpDo.toggle()" type="button"><img src="../../../assets/images/calendar-icon.png" /></button>
    </div>
</div>

<br>

<button type="button" class="btn btn-primary button-filter" (click)="filtriraj()">Filtriraj</button>
<button type="button" class="btn btn-danger" (click)="ocisti()" style="margin-left: 5px;">Očisti filter</button>

<br><hr>

<app-modal 
    title="Dodaj novo odlagalište"
    (dodajNovoOdlagaliste)="onDodajNovoOdlagalisteEvent($event)"></app-modal>


<div *ngFor="let odlagaliste of odlagalistaOtpadaDTOList">
    <app-odlagaliste-display 
        [odlagalisteOtpadaDTO]="odlagaliste"
        (uredi)="onUrediEvent($event)"
        (obrisi)="onObrisiEvent($event)"></app-odlagaliste-display>
</div>

<br>